name: build

on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Install GIT
        run: sudo apt-get update && sudo apt-get install -y git

      - uses: actions/checkout@v2
        with:
          path: 'repository'
          submodules: recursive

      - name: Install dependencies
        run: sudo apt-get install -y make gcc-arm-none-eabi

      - run: mkdir -p repository/build/tests/arm_build && cd repository/tests/arm_build && make
