name: code_style

on:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
    - 'main'
  workflow_dispatch:

jobs:
  astyle:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
    timeout-minutes: 1
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - uses: actions/checkout@v3
        with:
          repository: RaccoonlabDev/code_style
          token: ${{ secrets.ACCESS_TOKEN }}
          path: repo/code_style

      - run: sudo apt-get install -y astyle
      - run: ./repo/scripts/code_style/check_astyle.sh

  cpplint:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
    timeout-minutes: 1
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - uses: actions/checkout@v3
        with:
          repository: RaccoonlabDev/code_style
          token: ${{ secrets.ACCESS_TOKEN }}
          path: repo/code_style

      - run: pip3 install cpplint
      - run: ./repo/scripts/code_style/lint.sh

  crlf:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository)
    timeout-minutes: 1
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - uses: actions/checkout@v3
        with:
          repository: RaccoonlabDev/code_style
          token: ${{ secrets.ACCESS_TOKEN }}
          path: repo/code_style

      - run: sudo apt-get install -y dos2unix
      - run: ./repo/scripts/code_style/crlf.sh
